{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izmel Torres | Portafolio</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/amsi.png' %}">
    <script src="../static/index.js"></script>
    <!-- Incluir CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Incluir JS de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XGBT0JYEGX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XGBT0JYEGX');
</script>
<body>
    <header>
        <button class="hamburger" aria-label="Menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav class="navbar">
            <!-- Contenedor para los enlaces de navegación -->
            <div class="nav-links">
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#sobre-mi">Sobre mí</a></li>
                    <li><a href="#habilidades">Competencias Técnicas</a></li>
                    <li><a href="#proyectos">Proyectos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
            <!-- Contenedor para los íconos de las redes sociales -->
            <div class="nav-social-links">
                <ul>
                    <li><a href="https://www.linkedin.com/in/izmeltorres" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/IzmelMijangos" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="inicio">
        <div id="particles-js"></div> 
        <div class="intro-text">
            <h1>Hola, soy Izmel Torres</h1>
            <p style="margin-bottom:45px;">Desarrollador Web Full-Stack.</p>
            <a href="#sobre-mi" class="btn-ver-trabajo">Descubre Más →</a>
        </div>
    </section>

    <section id="sobre-mi" class="about-me">
        <div class="container">
            <div class="about-me-content">
                <h2>Sobre Mí</h2>
                <p>Soy Izmel Torres, un Ingeniero Mecatrónico y desarrollador Full Stack, me especializo en convertir desafíos complejos en sistemas eficientes y elegantes.
                    Mi trayectoria se define por una constante evolución profesional. Manteniendo un conocimiento al día con las últimas tendencias tecnológicas, me gusta aportar a los proyectos ideas frescas y métodos probados que impulsan la innovación y eficacia operativa.
                    Cuento con un historial de proyectos que hablan de compromiso y habilidad técnica, busco oportunidades que me permitan seguir creciendo profesionalmente y dejar una marca positiva en el sector tecnológico.
                    Si buscas a un profesional que no solo entiende las tendencias actuales, sino que también contribuye a darles forma, te invito a conocer más sobre mi experiencia.
                </p>
                <div class="about-me-actions">
                    <a href="{% static 'pdf/CV_IZMEL_TORRES_MIJANGOS.pdf' %}" target="_blank" class="btn">Ver mi CV</a>
                    <a href="#contacto" class="btn">Contacto</a>
                </div>
            </div>

            <div class="orbit-wrapper">
                <div class="icon" style="transform-origin: 78px 75px;">
                    <img src="{% static 'img/aws.png' %}" alt="AWS" title="aws service">
                </div>
                <div class="icon" style="transform-origin: 32px 100px;">
                    <img src="{% static 'img/GitHub.png' %}" alt="GitHub" title="GitHub">
                </div>
                <div class="icon" style="transform-origin: 86px 0px;">
                    <img src="{% static 'img/html.png' %}" alt="html">
                </div>
                <div class="icon" style="transform-origin: 119px -22px;">
                    <img src="{% static 'img/java.png' %}" alt="java">
                </div>
                <div class="icon" style="transform-origin: -74px 100px;">
                    <img src="{% static 'img/jira.png' %}" alt="jira">
                </div>
                <div class="icon" style="transform-origin: 41px -20px;">
                    <img src="{% static 'img/javascript.png' %}" alt="javascript">
                </div>
                <div class="icon" style="transform-origin: 27px -51px;">
                    <img src="{% static 'img/jenkins.png' %}" alt="jenkins">
                </div>
                <div class="icon" style="transform-origin: 100px -38px;">
                    <img src="{% static 'img/nginx.png' %}" alt="nginx">
                </div>
                <div class="icon" style="transform-origin: 39px -76px;">
                    <img src="{% static 'img/python.png' %}" alt="python">
                </div>
                <div class="icon" style="transform-origin: -53px 14px;">
                    <img src="{% static 'img/react.png' %}" alt="react">
                </div>
                <div class="icon" style="transform-origin: 100px 100px;">
                    <img src="{% static 'img/vue.png' %}" alt="vue">
                </div>
                <div class="icon" style="transform-origin: -94px -14px;">
                    <img src="{% static 'img/flask.png' %}" alt="flask">
                </div>
                <div class="icon" style="transform-origin: 100px -52px;">
                    <img src="{% static 'img/django.png' %}" alt="django">
                </div>
                <div class="icon" style="transform-origin: 55px -81px;">
                    <img src="{% static 'img/agile.png' %}" alt="agile">
                </div>
                <div class="icon" style="transform-origin: -53px -81px;">
                    <img src="{% static 'img/docker.png' %}" alt="agile">
                </div>
                <div class="icon" style="transform-origin: -53px 81px;">
                    <img src="{% static 'img/linux.png' %}" alt="agile">
                </div>
            </div>
        </div>
    </section>

    <section id="habilidades" class="habilidades-container">
        <div class="container">
            <h2 style="margin-top: 50px;">Competencias Técnicas</h2>
            <div class="habilidades-grid">
                <!-- Tarjeta de habilidad para HTML5 -->
                <div class="habilidad" onclick="toggleDetail(0)">
                    <img src="{% static 'img/FrontBack.jpg' %}" alt="HTML5">
                    <p>Desarrollo de Software</p>
                    <div class="detalle-habilidad">
                        <p>Profundo conocimiento en la creación de aplicaciones robustas y de alto rendimiento. Amplia experiencia en el ciclo completo de desarrollo de software desde la concepción hasta la implementación y el mantenimiento.

                            Backend: Diseño y desarrollo de arquitecturas de servidor, API y microservicios utilizando Django, Flask, Spring Boot, así como el uso de MySQL y Postgresql para el manejo de los datos.
                            Frontend: Creación de interfaces de usuario interactivas y responsivas con Vue.js, React, JavaScript.</p>
                    </div>
                </div>
                <!-- Tarjeta de habilidad para AWS -->
                <div class="habilidad" onclick="toggleDetail(1)">
                    <img src="{% static 'img/DevOps.svg' %}" alt="AWS">
                    <p> Infraestructura y Operaciones (DevOps)</p>
                    <div class="detalle-habilidad">
                        <p>Aplicación de principios de DevOps para mejorar la colaboración entre desarrollo y operaciones, incrementando la eficiencia en la entrega de software y la escalabilidad de infraestructura.
                    
                            Automatización de CI/CD: Implementación de pipelines de integración continua y entrega/deploy continua con Jenkins, GitHub Actions y GitLab CI para el control de versiones y la automatización del flujo de trabajo de software.
                    
                            Orquestación de Contenedores: Manejo de contenedores y microservicios en entornos de producción utilizando Docker, y Amazon Web Services (AWS) para la gestión y escalado eficiente de aplicaciones.</p>
                    </div>
                </div>
                <div class="habilidad" onclick="toggleDetail(2)">
                    <img src="{% static 'img/Servicios AWS.png' %}" alt="HTML5">
                    <p> Cloud Computing y Servicios AWS</p>
                    <div class="detalle-habilidad">
                        <p>Gestión y optimización de servicios en la nube para escalabilidad, seguridad y coste efectividad, especializado en el ecosistema de AWS.
                    
                            Computación en la Nube: Configuración y mantenimiento de sistemas escalables y tolerantes a fallos en AWS utilizando Elastic Compute Cloud (EC2), Elastic Kubernetes Service (EKS), y Elastic Beanstalk para despliegues rápidos y gestión simplificada.
                    
                            Servicios AWS Específicos: Experiencia con Amazon Simple Storage Service (S3) para almacenamiento de objetos, AWS Lambda para computación sin servidor, Amazon RDS para bases de datos relacionales, y AWS CloudFormation para la infraestructura como código, diseñando soluciones seguras y optimizadas para la nube.</p>
                    </div>
                </div>
                <div class="habilidad" onclick="toggleDetail(3)">
                    <img src="{% static 'img/Arquitectura.jpg' %}" alt="Arquitectura de Software">
                    <p>Arquitectura de Software</p>
                    <div class="detalle-habilidad">
                        <p>Como Arquitecto de Software, especializado en diseñar soluciones escalables y sostenibles, me enfoco en la creación de arquitecturas resilientes que respalden los objetivos de negocio y la innovación continua. Mis competencias abarcan:</p>
                        <ul>
                            <li>Definición de arquitecturas de microservicios para facilitar el despliegue ágil y la mantenibilidad.</li>
                            <li>Implementación de patrones de diseño y arquitectónicos que aseguran la cohesión y la baja acoplamiento.</li>
                            <li>Evaluación y adopción de tecnologías emergentes para mantener las soluciones tecnológicas alineadas con las mejores prácticas del sector.</li>
                            <li>Colaboración estrecha con equipos de desarrollo para garantizar la aplicación efectiva de los principios arquitectónicos.</li>
                            <li>Gestión de riesgos técnicos y aseguramiento de la calidad a través de revisiones de código y pruebas automatizadas.</li>
                        </ul>
                        <p>Mi enfoque pragmático y centrado en el usuario final garantiza que las arquitecturas desarrolladas no solo son técnicamente sólidas, sino también alineadas con las necesidades comerciales y la experiencia del usuario.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="proyectos" class="projects container" style="margin-bottom: 9%;">
        <h2>Proyectos Destacados</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 project">
                <a href="http://mezcal.amsidesign.com/" class="project-link">
                    <img src="{% static 'img/mezcal.png' %}" alt="Arquitectura de Software">
                    <div class="overlay">
                        <h3>Reservación de Tours en Palenques</h3>
                    </div>
                </a>
            </div>            
        </div>
    </section>

    <section id="contacto" class="contacto-section">
        <div class="contacto-container">
            <h2>CONTACTO</h2>
            <p>Estoy aquí para ayudarte. Si tienes preguntas o comentarios, escríbeme y responderé a la brevedad posible.</p>
            <form action="{% url 'contacto' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Ingrese correo electrónico" required>
                </div>
                <div class="form-group">
                    <textarea name="mensaje" rows="4" placeholder="Tu mensaje" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Enviar Mensaje</button>
                </div>
            </form>
            <div id="message-container" style="display: none;"></div>
        </div>
    </section>
    <footer>
        <p>Realizado por IzmelTorres &copy; 2024 Amsi Design</p>
    </footer>

</body>
</html>

<div class="modal fade" id="habilidadesModal" tabindex="-1" aria-labelledby="habilidadesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="habilidadesModalLabel">Detalles de la Habilidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- El contenido del modal se llenará dinámicamente con JavaScript -->
        </div>
        <button type="button" class="btn-modal-nav left" onclick="navigate(-1)">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="btn-modal-nav right" onclick="navigate(1)">
            <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
</div>

<script>

    document.querySelector('.hamburger').addEventListener('click', function() {
        document.querySelector('.nav-links').classList.toggle('is-active');
    });

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Event listener para teclas de flecha
        document.addEventListener('keydown', function(event) {
            if (event.key === "ArrowLeft") {
            navigate(-1);
            } else if (event.key === "ArrowRight") {
            navigate(1);
            }
        });
        const hamburger = document.querySelector('.hamburger');
        const navMenu = document.querySelector('.navbar');

        hamburger.addEventListener('click', function () {
            hamburger.classList.toggle('is-active');
            navMenu.classList.toggle('active');
        });

        
        document.querySelectorAll('.navbar ul li a').forEach(n => n.addEventListener('click', () => {
            hamburger.classList.remove('is-active');
            navMenu.classList.remove('active');
        }));

        var observer = new IntersectionObserver(function(entries) {
            entries.forEach(entry => {
            
            if (entry.isIntersecting) {
                
                entry.target.classList.add("slide-in");
            }
            });
        });

        var target = document.querySelector('#sobre-mi');
        observer.observe(target);

        const form = document.querySelector('form');
        form.addEventListener('submit', function(e) {
            e.preventDefault(); 
            const formData = new FormData(form);
            fetch("{% url 'contacto' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}', 
                }
            })
            .then(response => response.json())
            .then(data => {
                const messageContainer = document.getElementById('message-container');
                messageContainer.innerHTML = `<div class="alert ${data.status === 'success' ? 'alert-success' : 'alert-danger'} alert-dismissible fade show" role="alert">${data.message}</div>`;
                messageContainer.style.display = 'block';
                if(data.status === 'success') {
                    form.reset();
                }
                setTimeout(function(){
                    messageContainer.style.display = 'none';
                }, 10000); 
            })
            .catch(error => {
                console.error('Error:', error);
                const messageContainer = document.getElementById('message-container');
                messageContainer.innerHTML = '<div class="alert alert-danger" role="alert">Ocurrió un error al enviar el mensaje.</div>';
                messageContainer.style.display = 'block';
                
                setTimeout(function(){
                    messageContainer.style.display = 'none';
                }, 10000); 
            });
        });
    });

    function toggleDetail(index) {
        // Obtén la tarjeta de habilidad y sus detalles
        var habilidad = document.getElementsByClassName('habilidad')[index];
        var title = habilidad.querySelector('p').textContent;
        var details = habilidad.querySelector('.detalle-habilidad').innerHTML;
        var imageSrc = habilidad.querySelector('img').src; // Obtén la fuente de la imagen

        // Llena el modal con la información de la habilidad
        var modalTitle = document.getElementById('habilidadesModalLabel');
        var modalBody = document.getElementById('habilidadesModal').querySelector('.modal-body');

        modalTitle.textContent = title; // Establece el título del modal
        modalBody.innerHTML = `<img src="${imageSrc}" class="img-fluid" alt="${title}">` + details; // Añade la imagen al cuerpo del modal

        // Guarda el índice actual de la habilidad
        modalBody.setAttribute('data-current-index', index);

        // Muestra el modal
        $('#habilidadesModal').modal('show');
    }    

    var habilidades = document.querySelectorAll('.habilidad');
    var currentIndex = 0;

    function showHabilidad(index) {
        toggleDetail(habilidades[index]);
        currentIndex = index;
    }

    function navigate(step) {
        var modalBody = document.getElementById('habilidadesModal').querySelector('.modal-body');
        var currentIndex = parseInt(modalBody.getAttribute('data-current-index'), 10);
        var newIndex = currentIndex + step;
        var habilidades = document.getElementsByClassName('habilidad');

        // Ciclo de navegación
        if (newIndex < 0) {
            newIndex = habilidades.length - 1;
        } else if (newIndex >= habilidades.length) {
            newIndex = 0;
        }

        toggleDetail(newIndex);
    }
</script>